nav {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 20px;
}

nav .nav-wrapper {
    height: 48px;
    max-width: 1240px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 845px;
    width: 100%;
}

.nav-items ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 490px;
    width: 100%;
}

.hamburger {
    display: none;
}

.hamburger svg {
    font-size: 2em;
    color: #A02279;
}

@media (max-width: 1024px) {
    .nav-items {
        display: none;
    }

    .nav-wrapper .brand img {
        height: 23px;
    }

    .hamburger {
        height: 50px;
        width: 50px;
        border: 3px solid #A02279;
        border-radius: 15px;
        display: flex;
        justify-content: center;
        align-items: center;

    }
}

@media (max-width: 768px) {
    nav {
        padding: 10px 20px;
    }
}
