.nav-items a {
    text-decoration: none;
    color: #434343;
    font-weight: 400;
    font-size: 20px;
    padding: 15px 18px;
}

.nav-items a:hover {
    color: #A02279;
    background-color: #D7D7D7;
}

li {
    list-style: none;
}

a.active {
    color: #A02279;
}