.adventure-section {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
}

.adventure-wrapper {
    width: 100%;
    max-width: 1240px;
    padding: 58px 0 53px 0;
}

.adventure-section .adventure-wrapper h2 {
    font-size: 48px;
    font-weight: 700;
    line-height: 60px;
    color: black;
    text-align: center;
    margin-bottom: 43px;
}

.cards {
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-gap: 24px;
}

@media (max-width: 768px) {
    .adventure-section .adventure-wrapper h2 {
        font-size: 24px;
        line-height: 30px;
    }
}