.brands {
    height: 70px;
    background: linear-gradient(90deg, #A02279 11.45%, #A02279 11.45%);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
}

.brands-wrapper {
    max-width: 1240px;
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
}

@media (max-width: 1180px) {
    .brands {
        height: auto;
        padding: 10px 20px;
    }

    .brands-wrapper {
        flex-direction: column;
        align-items: center;
    }

    .brands-wrapper img {
        height: 30px;
    }
}